@media screen and (min-width : 781px) {
    /* 페이지 컨텐츠 공통 */
    /* 개별 페이지 컨텐츠 사이즈 */
    [class$="Page"] [class$="Page"]{width: var(--mobileWidth); margin-left: auto; margin-right: auto; margin-bottom: 150px;}
    /* width 1140 - 메인 페이지 , 카테고리 페이지 , 랭킹 페이지 , 마이페이지 , 마케팅 메인*/
    :is(.homePage , .categoryPage , .rankingPage , .myPage ) [class$="Page"],
    .marketingPage .mainPage{max-width: var(--contentSize);}
    /* width 720 - 상세 페이지*/
    .detailPage > section,
    .marketingPage .detailPage {max-width: var(--contentSize01);}
    /* width 390 - 로그인 페이지 , 마케팅 상담 페이지 */
    :is(.signPage , .receiptPage) [class$="Page"],
    .marketingPage .counselPage{max-width: var(--contentSize02);}

    /* 페이지 컨텐츠 상단 공간 */
    /* 로그인  , 간편 상담 페이지 */
    :is(.signPage , .receiptPage) [class$="Page"],
    .marketingPage .counselPage{margin-top: 100px;}
    /* 메인 페이지 */
    .homePage [class$="Page"]{margin-top: 70px;}
    /* 카테고리 , 랭킹  , 마이 , 상세 , 마케팅 - 메인 페이지*/
    :is(.categoryPage , .rankingPage , .myPage , .detailPage ) > section, 
    .marketingPage :is(.mainPage , .detailPage){margin-top: 60px;}

    /* 서브 페이지 타이틀 공통 */
    :is(.signPage , .categoryPage , .rankingPage , .receiptPage , .marketingPage) > section h2{font-size: var(--title01); font-weight: 700;}
    :is(.signPage , .receiptPage , .marketingPage) > section h2 + form{margin-top: 50px;}
    :is(.categoryPage , .rankingPage) > section h2,
    .marketingPage .mainPage h2{margin-bottom: 30px;}


    /* 아이템 - 기본 */
    .itemBox.basic .itemText strong{font-size: var(--font01);}
    .itemBox.basic .itemText div span{font-size: var(--font06);}

    /* 아이템 - 베스트  순위표? */
    .bestList :is(.swiper-slide) .itemText mark{font-size: var(--font06); margin-bottom: 10px;}
    .bestList :is(.swiper-slide) .itemText strong{font-size: var(--font01);}
    .bestList :is(.swiper-slide) .itemText span{font-size: var(--font06);}


    /* 해더 */
    header > div nav ul,
    header > div :is(nav , div){display: flex; align-items: center;}
    header > div , header > div nav ul{gap: 70px;}
    header > div h1 a{width: 96px; height: 34px;}
    header > div nav{flex: 1;}
    header > div nav ul{color: black; font-weight: 700;}
    header > div nav ul li a{line-height: 86px; font-weight: 400;}
    header > div nav ul li a:is(.active , :hover){color: var(--colorPoint); font-weight: 700;}
    header > div div{margin-left: auto; gap: 20px;}
    header > div div .icon-search{width: var(--iconSize02); height: var(--iconSize02);}
    header > div div a:not([class]){color: var(--colorGray);}

    
    /* 푸터 */
    footer{padding: 30px 0 40px;}
    footer div{display: flex; justify-content: space-between; align-items: center;}
    footer div img{width: 80px;}
    footer div ul{gap: 30px;}
}

