:root{
    /* 타이틀 */
    --title01 : 42px;
    --title02 : 28px;
    --title03 : 20px;
    /* 본문 */
    --font01 : 20px;
    --font02 : 19px;
    --font03 : 18px;
    --font04 : 17px;
    --font05 : 16px;
    --font06 : 15px;
    /* 색상 */
    --colorGray: #999;
    --colorPoint: #0cbf5d;
    /* 아이콘 사이즈 */
    --iconSize01 : 40px;
    --iconSize02 : 38px;
}

/* 컨텐츠 사이즈 */
.contentSize{max-width: 1180px; width: calc(100% - 40px); margin: 0 auto;}

/* 아이콘 */
[class|="icon"]{text-indent: -9999px; background-repeat: no-repeat; background-position: center; background-size: cover;}
.icon-search{background-image: url('../images/icon-search.png');}

/* 해더 */
header{position: sticky; top: 0; font-size: var(--font04); box-shadow: inset 0 -1px 0 0 #dedede;}
header > div , 
header > div :is(nav , div),
header > div nav ul{display: flex; align-items: center;}
header > div , header > div nav ul{gap: 70px;}
header > div h1{width: 96px;}
header > div h1 a{display: block;}
header > div h1 a img{width: 100%;}
header > div nav{flex: 1;}
header > div nav ul{color: black;}
header > div nav ul li a{line-height: 86px;}
header > div nav ul li a:is(.active , :hover){color: var(--colorPoint); font-weight: 700;}
header > div div{margin-left: auto; gap: 20px;}
header > div div .icon-search{width: var(--iconSize02); height: var(--iconSize02);}
header > div div a:not([class]){color: var(--colorGray);}