@media screen and (max-width : 780px) {
    /* 페이지 컨텐츠 공통 */
    /* 개별 페이지 컨텐츠 사이즈 */
    [class$="Page"] [class$="Page"]{width: var(--mobileWidth); margin-left: auto; margin-right: auto; margin-bottom: 150px;}
    /* width 1140 - 메인 페이지 , 카테고리 페이지 , 랭킹 페이지 , 마이페이지 , 마케팅 메인*/
    :is(.homePage , .categoryPage , .rankingPage , .myPage ) [class$="Page"],
    .marketingPage .mainPage{max-width: var(--contentSize);}
    /* width 720 - 상세 페이지*/
    .detailPage > section,
    .marketingPage .detailPage {max-width: var(--contentSize01);}
    /* width 390 - 로그인 페이지 , 마케팅 상담 페이지 */
    :is(.signPage , .receiptPage) [class$="Page"],
    .marketingPage .counselPage{max-width: var(--contentSize02);}

    /* 페이지 컨텐츠 상단 공간 */
    /* 로그인  , 간편 상담 페이지 */
    :is(.signPage , .receiptPage) [class$="Page"],
    .marketingPage .counselPage{margin-top: 100px;}
    /* 메인 페이지 */
    .homePage [class$="Page"]{margin-top: 50px;}
    /* 카테고리 , 랭킹  , 마이 , 상세 , 마케팅 - 메인 페이지*/
    :is(.categoryPage , .rankingPage , .myPage , .detailPage ) > section, 
    .marketingPage :is(.mainPage , .detailPage){margin-top: 60px;}


     /* 해더 */
     header > div{justify-content: space-between; padding: 13px 0;}
     header > div h1{width: 68px;}
     header > div div a:not([class]){font-size: 13px; text-align: center; width: 66px; line-height: 32px; border-radius: 16px; border: 1px solid #e6e6e6;}
}