
/* 컨텐츠 사이즈 */
[class*="contentSize"]{width: var(--mobileWidth); margin: 0 auto;}
.contentSize{max-width: var(--contentSize);}
.contentSize01{max-width: var(--contentSize01);}
.contentSize02{max-width: var(--contentSize02);}


/* 접근성 */
.textHidden{position: absolute; top: 0; height: 0.05px; overflow: hidden;}


/* 포인트 색상 */
mark:not([class]){color: var(--colorPoint);}


/* 해더 */
header{position: sticky; top: 0; font-size: var(--font04); background-color: white; box-shadow: inset 0 -1px 0 0 #dedede; z-index: 10;}
header > div{display: flex; align-items: center;}
header > div h1 a{display: block;}
header > div h1 a img{width: 100%;}

