/* 슬라이더 공통 */
[class|="navigation"]{position: absolute; top: 50%; left: 50%; transform: translate(-50% , -50%); max-width: var(--contentSize); width: 100%; height: 100%; display: flex; justify-content: space-between; z-index: 1; pointer-events: none;}
[class|="navigation"] :is(.prev , .next){width: var(--iconSize02); height: 100%; display: flex; align-items: center;}
[class|="navigation"] :is(.prev , .next)::after{content: ''; width: 100%; height: var(--iconSize02); background-repeat: no-repeat; background-position: center; background-size: cover; cursor: pointer; pointer-events: all;}
.navigation-basic .prev::after{background-image: url('../images/icon-prev-basic.png');}
.navigation-basic .next::after{background-image: url('../images/icon-next-basic.png');}
.navigation-circle :is(.prev , .next).swiper-button-disabled{opacity: 0; pointer-events: none;}
.navigation-circle .prev::after{background-image: url('../images/icon-prev-circle.png'); transform: translateX(-50%);}
.navigation-circle .next::after{background-image: url('../images/icon-next-circle.png'); transform: translateX(50%);}

/* 메인 페이지 */
.mainPage section > .contentSize{margin-top: 70px;}
.mainPage section > .contentSize > div:not(:last-child){margin-bottom: 60px;}
.mainPage section > .contentSize > div h3{font-size: var(--title02); font-weight: 700; margin-bottom: 20px;}
.mainPage section > .contentSize .sliderArea{position: relative;}
/* 메인 페이지 - 메인 슬라이더*/
.mainPage .mainSwiper{height: 410px; color: white;}
.mainPage .mainSwiper .swiper-slide{background-position: center; background-size: auto 100%;}
.mainPage .mainSwiper .swiper-slide div{max-width: 600px; margin: 0 auto; padding: 60px;}
.mainPage .mainSwiper .swiper-slide div strong{display: block; font-size: var(--title01); font-weight: 700; line-height: 60px; margin-bottom: 10px;}
.mainPage .mainSwiper .swiper-slide div a{font-size: var(--font02); font-weight: 500;}

/* 메인 페이지 - 인기 슬라이더 */
.popularArea .sliderArea .popularSwiper .swiper-slide{width: 125px; height: 110px; background-color: #f5f7f7; border-radius: 18px;}
.popularArea .sliderArea .popularSwiper .swiper-slide a{display: block; height: 100%; display: flex; justify-content: center; align-items: center; font-size: var(--font01); font-weight: 600; color: #222222;}
.popularArea .sliderArea .popularSwiper .swiper-slide:not(:last-child){margin-right: 10px;}
.popularArea .sliderArea .navigation-circle{height: 100%; align-items: center;}
.popularArea .sliderArea .navigation-circle div{position: relative;}
.popularArea .sliderArea .navigation-circle div::before{content: ''; position: absolute; left: 0; top: 0; width: 50px; height: 100%;  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), #fff); }
.popularArea .sliderArea .navigation-circle .prev::before{transform: rotate(180deg);}

/* 메인 페이지 - 추천 슬라이더 */
.itemArea .sliderArea .itemSwiper .swiper-wrapper{}
.itemArea .sliderArea .itemSwiper .swiper-slide:not(:last-child){}

/* 메인 페이지 - 마케팅 */
.mainPage .marketingArea div{display: flex; gap: 20px;}
.mainPage .marketingArea div a img{width: 100%;}