@media screen and (max-width : 780px) {
    /* 메인 페이지 - 메인 슬라이더 - 오토 플레이 */
    .homePage .mainSwiper .playArea{display: none;}

    /* 메인 페이지 */
    .homePage .mainPage > div > div h3{font-size: var(--title03); margin-bottom: 24px;}

    /* 메인 페이지 - 인기 슬라이더 */
    .popularArea .sliderArea .popularSwiper .swiper-slide{width: 98px; height: 86px;}
    .popularArea .sliderArea .popularSwiper .swiper-slide a{font-size: 16px;}

    /* 메인 페이지 - 추천 슬라이더 , 핫한 아이템 */
    .homePage .mainPage > div .sliderArea{overflow: hidden; transform: translateX(-20px); width: calc(100% + 40px);}
    .homePage .mainPage > div .sliderArea .swiper{padding: 0 20px;}
    .homePage .mainPage > div .sliderArea .itemSwiper{margin-left: 0; overflow: visible;}
    .homePage .mainPage > div .sliderArea .navigation-circle{display: none;}
    /* 메인 페이지 - 추천 슬라이더 */
    .homePage .mainPage .itemArea .sliderArea .itemSwiper{width: 242px;}
    /* 메인 페이지 - 핫한 아이템 */
    .homePage .mainPage .bastArea .sliderArea .itemSwiper{width: 272px;}

    /* 메인 페이지 - 마케팅 */
    .homePage .marketingArea div{flex-direction: column;}

    

    /* 로그인 페이지 */
    .signPage > section h2 + p{font-size: var(--font04);  line-height: 22px; margin: 12px 0 30px;}

    /* 로그인 페이지 - 로그인 방식 선택 */
    .signPage > .mainPage ul li:not(:last-child){margin-bottom: 12px;}
    .signPage > .mainPage ul li a{font-size: var(--font04); line-height: 50px; }
    .signPage > .mainPage ul li a::before{left: 20px; width: 20px; height: 20px;}

    /* 로그인 페이지 - 회원가입 */
    .signPage > .signUpPage fieldset .agreeArea{font-size: var(--font06); line-height: 20px;}
}
