@media screen and (max-width : 780px) {
    /* 메인 페이지 - 메인 슬라이더 - 오토 플레이 */
    .homePage .mainSwiper .playArea{display: none;}

    /* 메인 페이지 */
    .homePage .mainPage > div > div h3{font-size: var(--title03); margin-bottom: 24px;}

    /* 메인 페이지 - 인기 슬라이더 */
    .popularArea .sliderArea .popularSwiper .swiper-slide{width: 98px; height: 86px;}
    .popularArea .sliderArea .popularSwiper .swiper-slide a{font-size: 16px;}

    /* 메인 페이지 - 추천 슬라이더 , 핫한 아이템 */
    .homePage .mainPage > div .sliderArea{overflow: hidden; transform: translateX(-20px); width: calc(100% + 40px);}
    .homePage .mainPage > div .sliderArea .swiper{padding: 0 20px;}
    .homePage .mainPage > div .sliderArea .itemSwiper{margin-left: 0; overflow: visible;}
    .homePage .mainPage > div .sliderArea .navigation-circle{display: none;}
    /* 메인 페이지 - 추천 슬라이더 */
    .homePage .mainPage .itemArea .sliderArea .itemSwiper{width: 242px;}
    /* 메인 페이지 - 핫한 아이템 */
    .homePage .mainPage .bastArea .sliderArea .itemSwiper{width: 272px;}

    /* 메인 페이지 - 마케팅 */
    .homePage .marketingArea div{flex-direction: column;}

    

    /* 로그인 페이지 */
    .signPage > section h2 + p{font-size: var(--font04);  line-height: 22px; margin: 12px 0 30px;}

    /* 로그인 페이지 - 로그인 방식 선택 */
    .signPage > .mainPage ul li:not(:last-child){margin-bottom: 12px;}
    .signPage > .mainPage ul li a{font-size: var(--font04); line-height: 50px; }
    .signPage > .mainPage ul li a::before{left: 20px; width: 20px; height: 20px;}

    /* 로그인 페이지 - 회원가입 */
    .signPage > .signUpPage fieldset .agreeArea{font-size: var(--font06); line-height: 20px;}
    .signPage > .findPage .tabBox{margin-bottom: 30px;}


    /* 상세 페이지 */
    .detailPage section figure{margin-bottom: 30px;}
    .detailPage section figure > .imgBox{height: 360px; transform: translateX(-20px); width: calc(100% + 40px); margin-bottom: 30px;}
    .detailPage section figure figcaption h2{font-size: var(--title02); font-weight: 600; margin-bottom: 10px; position: relative;}
    .detailPage section figure figcaption h2 mark{position: absolute; right: 0; top: 0; font-size: var(--font04);}
    .detailPage section figure figcaption p{font-size: var(--font05);}
    .detailPage section figure figcaption ul li strong{font-size: var(--font01);}
    .detailPage section figure figcaption .scrollFixed-bottom {position: fixed; left: 0; bottom: 84px; width: 100%; z-index: 10;}
    .detailPage section figure figcaption .scrollFixed-bottom > div{width: var(--mobileWidth); margin: 0 auto;}
    .detailPage section figure figcaption .scrollFixed-bottom > div .receiptArea a{box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);}
    .detailPage section figure figcaption .scrollFixed-bottom > div .receiptArea button{overflow: hidden; box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);}
    .detailPage section figure figcaption .scrollFixed-bottom > div .receiptArea button::before{width: 48px; height: 48px;}
    .detailPage section mark.support strong{padding: 7px 10px; margin-right: 20px;}
    .detailPage section .tabBox{margin-bottom: 30px;}
    .detailPage section > div > div > div:not(:last-child){margin-bottom: 40px;}
    .detailPage section > div > div h3{font-size: var(--font02); font-weight: 600; margin-bottom: 20px;}

    /* 상세 페이지 - 브랜드 정보 */
    .detailPage .videoArea iframe{height: 180px;}
    .detailPage .detailArea div{height: 500px;}
    .detailPage .detailArea button{width: 82px; height: 34px; font-size: var(--font06); font-weight: 400; border: 1px solid #e6e6e6; border-radius: 8px; display: block; margin: 0 auto;}
    .detailPage section .infoArea .menuArea .swiper-slide{width: 98px;}
    .detailPage section .infoArea .menuArea .swiper-slide:not(:last-child){margin-right: 13px;}
    .detailPage section .infoArea .interiorArea .swiper-slide .imgBox,
    .detailPage section .infoArea .locationArea iframe{height: 180px;}
    .detailPage section .infoArea .locationArea iframe{margin-bottom: 12px;}
    .detailPage section .infoArea .locationArea p{font-size: var(--font04);}
    .detailPage section .infoArea .interiorArea .navigation-circle{display: none;}
}
