@media screen and (min-width : 781px) {
    /* 메인 페이지 */
    .homePage .mainPage > div > div h3{font-size: var(--title02); margin-bottom: 20px;}

    /* 메인 페이지 - 메인 슬라이더 - 오토 플레이 */
    .homePage .mainSwiper .playArea{position: absolute; left: 50%; top: 0; transform: translateX(-50%); max-width: var(--mainSliderWidth); width: calc(100% - 40px); width: 100%; height: 100%; display: flex; align-items: flex-end; z-index: 1; pointer-events: none; padding-bottom: 72.5px; box-sizing: border-box;}
    .homePage .mainSwiper .playArea > div{display: flex; align-items: center;}
    .homePage .mainSwiper .playArea > div .progress{display: block; width: 60px; height: 1px; /* background-color: red; */ position: relative;}
    .homePage .mainSwiper .playArea > div .progress span{position: absolute; left: 0; top: 0; width: 0; height: 100%; background-color: white;}
    .homePage .mainSwiper .playArea > div .pager{font-size: 12px; color: #ebebeb; margin-left: 12px;}
    .homePage .mainSwiper .playArea > div .pager span{position: static; background-color: transparent;}
    .homePage .mainSwiper .playArea > div .pager .swiper-pagination-current{color: white;}
    .homePage .mainSwiper .playArea > div button{pointer-events: all; width: 24px; height: 24px; text-indent: -9999px; background-repeat: no-repeat; background-position: center; background-size: cover; margin-left: 8px;}
    .homePage .mainSwiper .playArea > div button.resume{background-image: url('../images/icon-play.png');}
    .homePage .mainSwiper .playArea > div button.pause{background-color: red;}

    /* 메인 페이지 - 인기 슬라이더 */
    .popularArea .sliderArea .popularSwiper .swiper-slide{width: 125px; height: 110px;}
    .popularArea .sliderArea .popularSwiper .swiper-slide a{font-size: var(--font01);}


    /* 로그인 페이지 */
    .signPage > section h2 + p{font-size: var(--font03); font-weight: 400; line-height: 26px; margin: 30px 0 50px;}

    /* 로그인 페이지 - 로그인 방식 선택 */
    .signPage > .mainPage ul li:not(:last-child){margin-bottom: 16px;}
    .signPage > .mainPage ul li a{font-size: var(--font03); line-height: 60px;}
    .signPage > .mainPage ul li a::before{left: 26px; width: 24px; height: 24px;}

    /* 로그인 페이지 - 회원가입 */
    .signPage > .signUpPage fieldset .agreeArea{line-height: 26px}
    .signPage > .findPage .tabBox{margin: 50px 0;}


    /* 상세 페이지 */
    .detailPage section figure{display: flex; justify-content: space-between; margin-bottom: 40px;}
    .detailPage section figure > .imgBox{width: 370px; height: 370px; border-radius: 20px; margin-right: 40px;}
    .detailPage section figure figcaption{width: 310px; display: flex; flex-direction: column; padding-top: 10px;}
    .detailPage section figure figcaption h2{font-size: var(--title02); font-weight: 700; margin-bottom: 16px;}
    .detailPage section figure figcaption h2 mark{display: block; font-size: var(--font06); margin-bottom: 10px;}
    .detailPage section figure figcaption p{font-size: var(--font06);}
    .detailPage section figure figcaption .scrollFixed-bottom div .receiptArea button::before{content: ''; width: 56px; height: 56px; background:#e6f8ee url('../images/icon-bookmark-green.png') no-repeat center / 24px;}

    .detailPage section [class|="scrollFixed"].active{position: fixed; left: 0; width: 100%; padding: 20px 0; background-color: white; z-index: 10;}
    .detailPage section [class|="scrollFixed"].active > div{max-width: var(--contentSize01); margin: 0 auto;}
    .detailPage section .scrollFixed-top.active{top: 0;  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);}
    .detailPage section .scrollFixed-top.active .tabBox{margin: 0;}
    .detailPage section figure figcaption .scrollFixed-bottom.active{bottom: 0; box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);}
    .detailPage section figure figcaption .scrollFixed-bottom.active div button{width: 226px; text-indent: 0; font-size: var(--font03); font-weight: 700; color: var(--colorPoint); display: flex; justify-content: center; align-items: center; background-image: none;}
    .detailPage section figure figcaption .scrollFixed-bottom.active div button::before{content: ''; width: 24px; height: 24px; margin-right: 4px;}
    .detailPage section mark.support strong{padding: 10px 30px; margin-right: 30px;}
    .detailPage section .tabBox{margin-bottom: 50px;}
    .detailPage section > div > div > div:not(:last-child){margin-bottom: 70px;}
    .detailPage section > div > div h3{font-size: var(--font01); font-weight: 700; margin-bottom: 14px;}

    /* 상세 페이지 - 브랜드 정보 */
    .detailPage .videoArea iframe{height: 340px;}
    .detailPage .detailArea div{height: 1000px;}
    .detailPage .detailArea button{width: 100%; height: 60px; display: flex; justify-content: center; align-items: center; font-size: var(--font03); font-weight: 700; border: 1px solid #ccc; border-radius: 10px;}
    .detailPage .detailArea button::after{content: ''; width: 34px; height: 34px; background: url('../images/icon-category-more.png') no-repeat center / cover; margin-left: 2px;}
    .detailPage section .infoArea .menuArea .swiper-slide{width: 210px;}
    .detailPage section .infoArea .menuArea .swiper-slide:not(:last-child){margin-right: 20px;}
    .detailPage section .infoArea .interiorArea .swiper-slide .imgBox,
    .detailPage section .infoArea .locationArea iframe{height: 340px;}
    .detailPage section .infoArea .locationArea iframe{margin-bottom: 16px;}
    .detailPage section .infoArea .locationArea p{font-size: var(--font06);}
    .detailPage section .infoArea .interiorArea .navigation-circle{top: 0; transform: translate(-50%);}
    .detailPage section .infoArea .interiorArea .navigation-circle .prev::after{transform: translateX(20px);}
    .detailPage section .infoArea .interiorArea .navigation-circle .next::after{transform: translateX(-20px);}
}